/* 공통속성 */
body {
    background-color: rgb(37, 37, 37);
}
.pull-left {
    float: left;
}

.clearfix {
    content: "";
    display: block;
    float: none;
    clear: both;
}


/* 메인 컨텐츠 */
.main_content h2 {
    margin-bottom: 30px;
}

/* 모달창 */
.modal-content {
    color: white;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    width: 450px;
    margin: auto;
}
.modal-title {
    font-size: 25px;
}

/* > 닫기 버튼 */
#close {
    color: white;
}

/* > 플레이리스트 버튼 */
#playbtn {
    text-align: left;
    font-size: 18px;
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 7px;
    background-color: rgb(56, 56, 56);
}
#playbtn:hover {
    background-color: rgb(22, 21, 21, 1);
    opacity: 100;
    color: white;
}

/* > 플레이리스트 만들기 버튼 */
.plist-make {
    background-color:rgb(93, 216, 104);
    color: white;
    margin-bottom: 20px;
}

.plist-make:hover, .btn-grey:hover  {
    color:rgb(19, 19, 19);
}

/* > 생성된 플레이리스트 개별 버튼 */
.btn-grey {
    background-color: rgb(109, 109, 109);
    color: white;
    margin-right: 10px;
}
.btn-grey:last-child {
    margin-right: 0;
}

/* > 플레이리스트 취소하기 버튼 */
.btn-cancel {
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding: 8px 20px;
}
/* > 플레이리스트 만들기 버튼 */
.btn-make {
    background-color: rgb(22, 21, 21, 1);
    border-radius: 20px;
    padding: 8px 20px;
}
.btn-cancel:hover, .btn-make:hover {
    color:rgb(93, 216, 104);
}


/* > 플레이리스트 존 */
.plist-zone {
    margin-top: 30px;
}
table {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}
/* > 곡 > 리스트 */
table thead {
    color:rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}
#th, #td {
    border: none;
}
/* > 곡 > 추가 버튼 */
.remove-btn {
    background-color: rgb(93, 216, 104);
    border-radius: 3px;
    border: 0;
    padding: 0 8px;
}

.plist-box {
    margin-top: 20px;
}
.plist-box button {
    margin-top: 20px;
}
