/* 공통속성 */
body {
    background-color: rgb(37, 37, 37);
}
.pull-left {
    float: left;
}

.clearfix {
    content: "";
    display: block;
    float: none;
    clear: both;
}
.block {
    /* display: none; */
    visibility: hidden; 
}

a {
    color: white;
}
a:hover {
    color: white;
}

/* > 상단 고정 */
.navbar-fixed-top {
    position: fixed;
    /* padding: 5px; */
    padding: 10px 40px;
}
/* > 왼쪽 고정 메뉴 */
.sidebar {
    background-color: black;
    position: fixed;
    height: 100%;
    padding-top: 5px;
}
/* > 로고 */
.logo a {
    display: block;
    margin-top: 4px;
    color: rgb(93, 216, 104);
    margin-bottom: 20px;
}
/* > 각 메뉴 영역 */
#navlink {
    padding: 15px 10px;
    display: block;
}
#navlink:hover {
    background-color:rgb(37, 37, 37);
    border-radius: 5px;
}
hr {
    border-top: 1px solid rgb(37, 37, 37);
}


/* 텍스트 칼라 : 화이트 */
.white-text {
    color: white;
}

/*** 상단고정 ***/
/* 고정시키기 */
.navbar-fixed-top{
    position: fixed;
    padding: 5px 30px;
}
/* 왼 */
.prevbtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: none;
    margin-top: 7px;
    margin-right: 5px;
}
/* 오 */
.nextbtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: none;
    margin-top: 7px;
}
/* 프리미엄&이름 공통적용 */
.navbar-nav>li {
    margin-left: 5px;
    margin-top: 7px;
}
.navbar-nav>li>a {
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 50px;
}
/* 프리미엄 */
.premium{
    background-color: rgb(211, 42, 0);
    color: white;
}
.premium:hover {
    color: rgb(211, 42, 0);
}
/* 내정보 이름 */
.name {
    background-color: black;
    color: white;
}
.name:hover {
    color: black;
}



/* 상단 < , > 버튼  */
.nav-button {
    margin-top: 13px;
}
.btn-shape {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 0;
    margin-right: 7px;
}

/* 검색하기 */
/* .btn-bar {
    margin-top: 12px;
} */
/* 검색하기 > input */
.search-type {
    padding: 10px;
    width: 250px;
    border-radius: 4px;
    background-color:rgb(37, 37, 37);
    border: 1px solid rgb(185, 185, 185);
    color: white;
}

/* 검색하기 > submit버튼 */
.btn-submit {
    background-color:rgb(37, 37, 37);
    border: 1px solid rgb(185, 185, 185);
    margin-left: 4px;
    padding: 10px;
    width: 80px;
}
.btn-submit a {
    text-decoration: none;
    color: rgb(185, 185, 185);
}


/* 프리미엄 & 프로필 */
.pre-pro {
    width: 190px;
}
/* > 프리미엄 */
.premium {
    float: left;
}
.premium a {
    display: block;
    width: 100px;
    height: 35px;
    background-color: tomato;
    border-radius: 18px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 2;
    text-decoration: none;
}
/* > 프로필 */
.profile {
    float: left;
}
.profile a {
    display: block;
    width: 80px;
    height: 35px;
    background-color: black;
    border-radius: 18px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 2;
    text-decoration: none;
}


/* 메인 content */
.main_content {
    /* padding-top: 60px; */
    padding: 60px;
}

/* > 제목 */
.page-header {
    color: white;
    font-size: 28px;
    border: 0;
}

/* > 아티스트 이미지 */
.artist-img {
    width: 240px;
    text-align: center;
    background-color: rgb(22, 21, 21);
}
#thumbnail {
    background-color: rgb(22, 21, 21);
    border: 0;
    text-decoration: none;
    display: block;
    height: 300px;
}
#thumbnail img {
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
#thumbnail .caption h3 {
    color: white;
    font-size: 23px;
    margin-top: 5px;
}
#thumbnail .caption p {
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

/* > 곡 */
table {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}
/* > 곡 > 리스트 */
table thead {
    color:rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}
table .trhover:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
table .tableartist {
    color:rgb(151, 151, 151);
    font-size: 12px;
}
#th, #td {
    border: none;
}
.tdbox img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

/* > 곡 > 모두보기 버튼 */
.all-btn {
    background-color: rgb(65, 64, 64);
    color: white;
    border: 0;
    width: 75px;
    height: 30px;
    font-size: 14px;
}
/* > 곡 > 추가 버튼 */
.add-btn {
    background-color: rgb(93, 216, 104);
    border-radius: 3px;
}


/* 앨범 */
.albumtitle {
    margin: 20px 0 10px 0;
}

/* 모달창 */
.modal-content {
    color: white;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    width: 450px;
    margin: auto;
}
.modal-title {
    font-size: 25px;
}
/* > 닫기 버튼 */
#close {
    color: white;
}
/* > 플레이리스트 버튼 */
#playbtn {
    text-align: left;
    font-size: 18px;
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 7px;
    background-color: rgb(56, 56, 56);
}
#playbtn:hover {
    background-color: rgb(22, 21, 21, 1);
    opacity: 100;
    color: white;
}

/* artist 배너 */
.banner {
    margin-top: 50px;
}

/* 재생 버튼 */
.btn-play {
    width: 60px;
    height: 60px;
    background-color: rgb(93, 216, 104);
    border-radius: 50%;
    display: block;
}
.btn-play span {
    color: white;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

/* 써치 > 앨범 */
.placeholder{
    padding: 30px 20px;
    text-align: center;
}
.placeholder:hover {
    color: darkgreen;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}
.placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 앨범 페이지 > 앨범 섬네일 */
#coverthumb {
    display: block;
    margin-top: 20px;
    padding: 40px 0;
}
#coverthumb .coverbox {
    width: 230px;
    height: 230px;
}
.coverbox-img {
    width: 100%;
    height: 100%;
}
.media-body .media-heading {
    padding-top: 190px;
    font-size: 28px;
    color: white;
}