/* 공통속성 */
body {
    background-color: rgb(37, 37, 37);
}

/* 왼쪽 정렬 */
.pull-left { float: left; }
.clearfix {
    content: "";
    display: block;
    clear: both;
    float: none;
}


/* 메인 컨텐츠 */
.main_content {
    padding: 60px 0;
}
.sign_content, .login_content {
    text-align: left;
    font-size: 25px;
    color: white;
    max-width: 400px;
    margin: auto;
}
.sign_content img {
    padding-bottom: 5px;
    margin: 5px;
}

/* 가입 타이틀  */
#spotify{
    vertical-align: 20px;
}
.titlezone {
    text-align: center;
}
.signtitle {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

/* 가입 폼 */
.input-group {
    padding-bottom: 10px;
}
.glyphicon {
    top: 0;
}
.form-control {
    height: 50px;
}

/* 폼제목 */ 
.labels {
    color: gray;
    font-weight: normal;
    font-size: 1.5ch;
    padding-bottom: 8px;
    margin-top: 10px;
}

.labels-title {
    color: gray;
    font-weight: normal;
    font-size: 1.5ch;
    padding-bottom: 8px;
}


/* 가입 버튼 */
.btn-success {
    margin-top: 30px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
}

/* 계정이 있다고요? */ 
.sign_join {
    padding-top: 10px;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    color: gray;
}

.login {
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.863);
}
.login:hover {
    color: rgba(255, 255, 255, 0.863);
}

/* sign타이틀 */
.signtitle {
    margin-bottom: 10px;
}


/* input & select 아웃라인 없애기 */
input:focus { outline: none; }
select:focus { outline: none; }

.birth {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.birth input {
    width: 40%;
    box-sizing: border-box;
    margin-right: 10px;
    height: 50px;
}
.birth input:last-child {
    margin-right: 0;
}
.birth select {
    width: 40%;
    box-sizing: border-box;
    margin-right: 10px;
    height: 50px;
}


/* 로그인 타이틀  */
.logtitle {
    margin-bottom: 10px;
}

/* 가입 타이틀  */
#spotify{
    vertical-align: 20px;
}
.titlezone {
    text-align: center;
}
.signtitle {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}
.logtitle {
    font-size: 35px;
    padding-bottom: 20px;
    font-weight: bold;
}

/* 로그인 인풋 */
.input-group {
    padding-bottom: 10px;
}
.glyphicon {
    top: 0;
}
.form-control {
    height: 50px;
}

/* 로그인 버튼 */
.btn-block {
    color: black;
    margin-top: 30px;
    height: 40px;
    font-weight: bold;
    border-radius: 30px;
}

/* 계정이 없나요? */ 
.log_join {
    margin-top: 70px;
    font-size: 15px;
    color: gray;
    text-align: center;
}

/* 가입하기 */
.signin {
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.863);
}
.signin:hover {
    color: rgba(255, 255, 255, 0.863);
}