/* 공통속성 */
body {
    background-color: rgb(37, 37, 37);
}
.pull-left {
    float: left;
}

.clearfix {
    content: "";
    display: block;
    float: none;
    clear: both;
}

/* > 상단 고정 
.navbar-fixed-top {
    position: fixed;
    /* padding: 5px;
    padding: 10px 40px;
/* } */


/* > 로고 */
.logo a {
    display: block;
    margin-top: 4px;
    color: rgb(93, 216, 104);
    margin-bottom: 20px;
}
/* > 각 메뉴 영역 */
#navlink {
    padding: 15px 10px;
    display: block;
}
#navlink:hover {
    background-color:rgb(37, 37, 37);
    border-radius: 5px;
}
hr {
    border-top: 1px solid rgb(37, 37, 37);
}


/* 텍스트 칼라 : 화이트 */
.white-text {
    color: white;
}

/*** 상단고정 ***/
/*** 메인 content ***/
.main_content h2 {
    color: white;
    padding: 30px 0px 10px 0px;
    font-weight: bold;
    font-size: 30px;
}

/* 플레이버튼 (main_artist.html) */
.playbtn {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    padding-left: 12px;
    margin-bottom: 20px;
    background-color: palevioletred;
}

/* > 곡 */
table {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}
/* > 곡 > 리스트 */
table thead {
    color:rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}
#th, #td {
    border: none;
}

/* > 곡 > 추가 버튼 */
.add-btn {
    background-color: rgb(93, 216, 104);
    border-radius: 3px;
}
/* 모달창 */
.modal-content {
    color: white;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    width: 450px;
    margin: auto;
}
.modal-title {
    font-size: 25px;
}
/* > 닫기 버튼 */
#close {
    color: white;
}
/* > 플레이리스트 버튼 */
#playbtn {
    text-align: left;
    font-size: 18px;
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 7px;
    background-color: rgb(56, 56, 56);
}
#playbtn:hover {
    background-color: rgb(22, 21, 21, 1);
    opacity: 100;
    color: white;
}


/* 인기 아티스트 (mainpage.html) */
.placeholder{
    padding: 30px 20px;
    text-align: center;
}
.placeholders a {
    text-decoration: none;
}
.placeholder h4 {
    color: rgba(255, 255, 255, 0.788);
    padding: 10px 0px 5px 0px;
}
.placeholder:hover {
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}
.placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 앨범 페이지 > 앨범 섬네일 */
#coverthumb {
    display: block;
    margin-top: 20px;
    padding: 40px 0;
}
#coverthumb .coverbox {
    width: 230px;
    height: 230px;
}
.coverbox-img {
    width: 100%;
    height: 100%;
}
.media-body .media-heading {
    padding-top: 190px;
    font-size: 28px;
    color: white;
}




/* 반응형 : 모바일 -> 태블릿 -> 데스크탑순 */
@media (min-width: 320px) {
    .container-fluid {
        margin-bottom: 25px;
    }
    /* > 왼쪽 고정 메뉴 */
    .sidebar {
        background-color: black;
        /* position: fixed; */
        /* z-index: 4444; */
        height: 80px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        /* border: 4px solid red; */
    }

    /* 숨어져있는 메뉴 내용 */
    .menuopen {
        /* 숨김 */
        visibility: hidden;
        background-color: black;
        padding: 10px;
        margin: 0;
        /* border: 4px solid blue; */
    }

    #fix {
        width: 100%;
        padding: 5px 15px 0 15px;
    }
    #fix li {
        display: flex;
        justify-content: space-between;
    }
    #fix li div {
        display: flex;
        justify-content: left;
        align-items: center;
        color: rgb(93, 216, 104);
        font-size: 25px;
        padding-bottom: 5px;
        box-sizing: border-box;
    }
    #fix li a {
        margin-top: 10px;
        color: rgb(93, 216, 104);
        display: flex;
        align-items: center;
    }
    #toggle {
        visibility: visible;
        font-size: 25px;
    }
    #fix li a:hover {
        color: black;
    }
    /* > 로고 */
    .logo a {
        display: block;
        margin-top: 4px;
        color: rgb(93, 216, 104);
        margin-bottom: 20px;
    }
    /* > 각 메뉴 영역 */
    #navlink {
        padding: 15px 10px;
        display: block;
    }
    #navlink:hover {
        background-color:rgb(37, 37, 37);
        border-radius: 5px;
    }
    hr {
        border-top: 1px solid rgb(37, 37, 37);
    }


    /* 써치 > 앨범 */
    .placeholders::after {
        clear: both;
        display: block;
        content: " ";
    }
    .placeholders a {
        display: block;
        width: 50%;
        height: 100%;
        float: left;
    }
    .placeholder {
        /* width: 70%; */
        padding: 30px 20px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    /* 인기 아티스트 (mainpage.html) */
    .placeholders a {
        display: block;
        width: 100%;
        height: 100%;
        float: none;
    }
}


@media (min-width: 1020px) {
    .container-fluid {
        margin-bottom: 25px;
    }
    /* > 왼쪽 고정 메뉴 */
    .sidebar {
        background-color: black;
        position: fixed;
        z-index: 4444;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        width: 15%;
    }

    /* 숨어져있는 메뉴 내용 */
    .menuopen {
        /* 숨김 */
        visibility: visible;
        background-color: black;
        padding: 10px;
        margin: 0;
    }
    #fix li div {
        display: flex;
        justify-content: left;
        align-items: center;
        color: rgb(93, 216, 104);
        font-size: 20px;
        padding-bottom: 5px;
        box-sizing: border-box;
    }
    #toggle {
        visibility: hidden;
    }

    /* 인기 아티스트 (mainpage.html) */
    .placeholders a {
        display: block;
        width: 100%;
        height: 100%;
        float: none;
    }
}